{# {% apply inline_css(source('@css/email.css')) %} #}

{% apply inline_css %}

    <style>
        h3 {
            color: #12b33d;
        }
    </style>

    <h1>Hello Waiter</h1>

    <h3>The Table {{ table}} has sent the following message: </h3>

    <p>{{ text }}</p>

{% endapply %}




